<h1>Hey Powershop!</h1>
<p>
I'm keen to come work with you - have a look and see what you think.

I’m a passionate technologist with a strong drive to hone my skills as a software developer. 

My career so far has been foused on automated functional testing, but I’ve also been working on a number of small web development projects in my own time.

I love puzzling over software design,and the joy of developing clean solutions to real-world problems. I crave a short feedback loop so I test first and build early & often.
</p>
