<footer class="footer">
  <div class="container">
    <p>
      Made by Kieran Trezona-le Comte with 
      <a href="http://www.rubyonrails.org/">Ruby on Rails</a>
      , <a href="http://www.getbootstrap.com/">Bootstrap</a>
      , <a href="http://www.glyphicons.com/">Glyphicons</a>
      and <a href="http://www.fontawesome.io">Font Awesome</a>.
    </p>
  </div>
</footer>